<h1>Dr. <%= @doctor.name %></h1>
<h2><%= @doctor.department %> Department</h2>
<h3>Appointments:</h3>

<ol>
<% @doctor.appointments.each do |appointment| %>
    <li><%= link_to appointment.patient.name, patient_path(appointment.patient) %> <%= appointment.appointment_datetime.strftime("%B %d, %Y") %> at <%= appointment.appointment_datetime.strftime("%H:%M") %></li><br>
<% end %>
</ol>